/*自定义字体*/

@font-face{
  font-family:'shoujin' ;  /* 字体名自定义即可 */
  src:url('/fonts/shoujin.ttf'); /* 字体文件路径 */
  font-display : swap;
}

/*-------------颜色合集-------------*/

/* 博主昵称颜色 */
.author-info__name {
  color: #02548a;
}

/* 打字效果渐变 */

@-webkit-keyframes Gradient {
  0% {
      background-position: 0 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
      background-position: 0 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0 50%;
  }
}

@keyframes Gradient {
  0% {
      background-position: 0 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0 50%;
  }
}

#subtitle {
  background: linear-gradient(-45deg, #ffffff, #d5e2fc, #c4ebff, #83dcff);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: 'shoujin', sans-serif;
  font-size: 32px;
}

#subtitle:before {
  background-color: rgba(0, 0, 0, 0);
}

/*title的颜色渐变*/

#site-title {
  background: linear-gradient(-45deg, #ffffff, #d5e2fc, #c4ebff, #83dcff);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: 'shoujin', sans-serif;
}


/* 顶部导航栏 */
#nav a {
  background: linear-gradient(-45deg, #85a5b8, #94c3d6, #44ace0, #39b5e6);
  background-size: 400% 400%;
  font-size: 28px;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* a标签默认颜色 */

#article-container a {
  color: #32b3e6;
  text-decoration: none;
}

/* 鼠标悬停时的颜色 */

#article-container a:hover {
  color: #8d87cc;
  text-decoration: none;
}
/*a标签颜色*/
a {
  color: #32b3e6;
}

/* 目录隐藏按钮颜色 */

#toggle-sidebar {
  color: #8d87cc !important;
}

#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
  background: rgba(255, 255, 255, 0.8)
}

#aside-content .card-widget {
  background: rgba(255, 255, 255, 0.8)
}

#archive {
  background: rgba(255, 255, 255, 0.8)
}

#page {
  background: rgba(255, 255, 255, 0.8)
}

#post {
  background: rgba(255, 255, 255, 0.8)
}

#tag {
  background: rgba(255, 255, 255, 0.8)
}

#category {
  background: rgba(255, 255, 255, 0.8)
}

#page-header {
  background-color: transparent!important;
}

#web_bg {
  background: url('/img/background.png');
  background-size:cover;
  background-position: center;
}

#post-comment .vpanel{
  background: rgba(255, 255, 255, 0.6);
}

/*页脚自定义字段字体颜色*/
/* 也就是配置文件里的footer_custom_text */

.footer_custom_text {
  color: #afd7f8;
}

/* 页脚透明 */
#footer{
  background: transparent!important;
}

/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显
#page-header.post-bg:before {
  background-color: transparent!important;
}
*/

/* 滚动条 */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #8ccdf5;
  background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #32b3e6;
}

/*-------------夜间模式-------------*/

/*夜间模式伪类遮罩层透明*/

[data-theme="dark"]
  #aside-content .card-widget{
      background: rgba(0, 0, 0, 0.2)!important;
    }
[data-theme="dark"]
  div#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    background: rgba(0, 0, 0, 0.2)!important;
    }
[data-theme="dark"]
  div#archive {
    background: rgba(0, 0, 0, 0.2)!important;
    }
[data-theme="dark"]
  div#page {
    background: rgba(0, 0, 0, 0.2)!important;
    }
[data-theme="dark"]
  div#post {
    background: rgba(0, 0, 0, 0.2)!important;
    }
[data-theme="dark"]
  div#tag {
    background: rgba(0, 0, 0, 0.2)!important;
    }
[data-theme="dark"]
  div#category {
    background: rgba(0, 0, 0, 0.2)!important;
    }
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background:  rgba(0, 0, 0, 0)!important;
    }
[data-theme="dark"]
  #post-comment .vpanel{
    background: rgba(0, 0, 0, 0.6);
  }  

/*-------------图标合集-------------*/

/* 全局默认鼠标指针 */
body,
html{
  cursor: url('/img/mouse/AppStarting.cur'),auto !important;
}
/* 悬停图片时的鼠标指针 */
img{
  cursor: url('/img/mouse/OSS.cur'),auto !important;
}
/* 选择链接标签时的鼠标指针 */
a:hover{
    cursor: url('/img/mouse/Hand.cur'),auto;
}
/* 选中输入框时的鼠标指针 */
input:hover{
    cursor: url('/img/mouse/IBeam.cur'),auto;
}
/* 悬停按钮时的鼠标指针 */
button:hover{
    cursor: url('/img/mouse/Hand.cur'),auto;
}
/* 悬停列表标签时的鼠标指针 */
i:hover{
    cursor: url('/img/mouse/Hand.cur'),auto;
}
/* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针 */
#footer-wrap a:hover{
      cursor: url('/img/mouse/Hand.cur'),auto;
}
/* 悬停页码时的鼠标指针 */
#pagination .page-number:hover{
      cursor: url('/img/mouse/Hand.cur'),auto;
}
/* 悬停菜单栏时的鼠标指针 */
#nav .site-page:hover{
      cursor: url('/img/mouse/UpArrow.cur'),auto;
}

/*生肖时间轴*/
svg.icon {
  /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
   width: 2.5em; height: 2.5em;
   /* width和height定义图标的默认宽度和高度*/
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

/* 文章页H1-H6图标样式效果 */
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  -webkit-animation: ccc 3s linear infinite ;
  animation: ccc 3s linear infinite ;
}
@-webkit-keyframes ccc {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
  }
}
@keyframes ccc {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
  }
}

/*H1-H6颜色*/

#content-inner.layout h1::before {
  color: #54c1f3 ;
  margin-left: -1.55rem;
  font-size: 1.3rem;
  margin-top: -0.23rem;
}
#content-inner.layout h2::before {
  color: #7da4d1 ;
  margin-left: -1.35rem;
  font-size: 1.1rem;
  margin-top: -0.12rem;
}
#content-inner.layout h3::before {
  color: #fae2b5 ;
  margin-left: -1.22rem;
  font-size: 0.95rem;
  margin-top: -0.09rem;
}
#content-inner.layout h4::before {
  color: #c797f3 ;
  margin-left: -1.05rem;
  font-size: 0.8rem;
  margin-top: -0.09rem;
}
#content-inner.layout h5::before {
  color: #ecee60 ;
  margin-left: -0.9rem;
  font-size: 0.7rem;
  margin-top: 0.0rem;
}
#content-inner.layout h6::before {
  color: #90faec ;
  margin-left: -0.9rem;
  font-size: 0.66rem;
  margin-top: 0.0rem;
}

/*分割线风车旋转*/

hr::before {
  -webkit-animation: ccc 3s linear infinite ;
  animation: ccc 3s linear infinite ;
  color: #868686;
}

/*图片下的说明文字居中*/

.jg-caption{
  text-align: center !important;
}

/*给每个图片下增加个小图标*/
.jg-caption-visible::before {
  content: "⊙ ";
} 
.fancybox-caption__body::before {
  content: "⊙ ";
} 
.img-alt.is-center::before {
  content: "⊙ ";
}

/*-------------格式合集-------------*/

/*图片下的说明文字居中*/

.jg-caption{
  text-align: center !important;
}

/*移动端优化：去除归档、标签、最新文章、公告、、只保留网站统计*/

@media screen and (max-width: 800px) {
  #aside_content div:not(:last-child) {
      display: none;
      font-size: 13px;
  }
}

/*评论页面的字号*/

#post-comment {
  font-size: 22px;
}

/*链接页面的格式*/

.flink {
  columns: 3;
}
