/*自定义字体*/

@font-face{
  font-family:'shoujin' ;  /* 字体名自定义即可 */
  src:url('/fonts/shoujin.ttf'); /* 字体文件路径 */
  font-display : swap;
}

#post {
  font-size: large;
}

/*-------------颜色合集-------------*/

/* 博主昵称颜色 */
.author-info__name {
  color: #02548a;
}

/* 打字效果渐变 */

@-webkit-keyframes Gradient {
  0% {
      background-position: 0 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
      background-position: 0 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0 50%;
  }
}

@keyframes Gradient {
  0% {
      background-position: 0 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0 50%;
  }
}

#subtitle {
  background: linear-gradient(-45deg, #ffffff, #d5e2fc, #c4ebff, #83dcff);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: 'shoujin', sans-serif;
  font-size: 32px;
}

#subtitle:before {
  background-color: rgba(0, 0, 0, 0);
}

/*title的颜色渐变*/

#site-title {
  background: linear-gradient(-45deg, #ffffff, #d5e2fc, #c4ebff, #83dcff);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: 'shoujin', sans-serif;
}

/* 顶部导航栏 */
#nav a {
  background: linear-gradient(-45deg, #85a5b8, #94c3d6, #44ace0, #39b5e6);
  background-size: 400% 400%;
  font-size: 28px;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* a标签默认颜色 */

#article-container a {
  color: #32b3e6;
  text-decoration: none;
}

/* 鼠标悬停时的颜色 */

#article-container a:hover {
  color: #8d87cc;
  text-decoration: none;
}
/*a标签颜色*/
a {
  color: #32b3e6;
}

/* 目录隐藏按钮颜色 */

#toggle-sidebar {
  color: #8d87cc !important;
}

#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
  background: rgba(255, 255, 255, 0.8)
}

#aside-content .card-widget {
  background: rgba(255, 255, 255, 0.8)
}

#archive {
  background: rgba(255, 255, 255, 0.8)
}

#page {
  background: rgba(255, 255, 255, 0.8)
}

#post {
  background: rgba(255, 255, 255, 1)
}

#tag {
  background: rgba(255, 255, 255, 0.8)
}

#category {
  background: rgba(255, 255, 255, 0.8)
}

#page-header {
  background-color: transparent!important;
}

#web_bg {
  background: url('/img/background.png');
  background-size:cover;
  background-position: center;
}

#post-comment .vpanel{
  background: rgba(255, 255, 255, 0.6);
}

/*页脚自定义字段字体颜色*/
/* 也就是配置文件里的footer_custom_text */

.footer_custom_text {
  color: #afd7f8;
}

/* 页脚透明 */
#footer{
  background: transparent!important;
}

/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显
#page-header.post-bg:before {
  background-color: transparent!important;
}
*/

/* 滚动条 */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #8ccdf5;
  background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #32b3e6;
}


/*-------------夜间模式-------------*/

/*夜间模式伪类遮罩层透明*/

[data-theme="dark"]
  #aside-content .card-widget{
      background: rgba(0, 0, 0, 0.2)!important;
    }
[data-theme="dark"]
  div#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    background: rgba(0, 0, 0, 0.2)!important;
    }
[data-theme="dark"]
  div#archive {
    background: rgba(0, 0, 0, 0.2)!important;
    }
[data-theme="dark"]
  div#page {
    background: rgba(0, 0, 0, 0.2)!important;
    }
[data-theme="dark"]
  div#post {
    background: rgba(0, 0, 0, 0.2)!important;
    }
[data-theme="dark"]
  div#tag {
    background: rgba(0, 0, 0, 0.2)!important;
    }
[data-theme="dark"]
  div#category {
    background: rgba(0, 0, 0, 0.2)!important;
    }
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background:  rgba(0, 0, 0, 0)!important;
    }
[data-theme="dark"]
  #post-comment .vpanel{
    background: rgba(0, 0, 0, 0.6);
  }  

/*-------------图标合集-------------*/

/* 全局默认鼠标指针 */
body,
html{
  cursor: url('/img/mouse/AppStarting.cur'),auto !important;
}
/* 悬停图片时的鼠标指针 */
img{
  cursor: url('/img/mouse/OSS.cur'),auto !important;
}
/* 选择链接标签时的鼠标指针 */
a:hover{
    cursor: url('/img/mouse/Hand.cur'),auto;
}
/* 选中输入框时的鼠标指针 */
input:hover{
    cursor: url('/img/mouse/IBeam.cur'),auto;
}
/* 悬停按钮时的鼠标指针 */
button:hover{
    cursor: url('/img/mouse/Hand.cur'),auto;
}
/* 悬停列表标签时的鼠标指针 */
i:hover{
    cursor: url('/img/mouse/Hand.cur'),auto;
}
/* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针 */
#footer-wrap a:hover{
      cursor: url('/img/mouse/Hand.cur'),auto;
}
/* 悬停页码时的鼠标指针 */
#pagination .page-number:hover{
      cursor: url('/img/mouse/Hand.cur'),auto;
}
/* 悬停菜单栏时的鼠标指针 */
#nav .site-page:hover{
      cursor: url('/img/mouse/UpArrow.cur'),auto;
}

/*生肖时间轴*/
svg.icon {
  /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
   width: 2.5em; height: 2.5em;
   /* width和height定义图标的默认宽度和高度*/
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

/* 文章页H1-H6图标样式效果 */
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  -webkit-animation: ccc 3s linear infinite ;
  animation: ccc 3s linear infinite ;
}
@-webkit-keyframes ccc {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
  }
}
@keyframes ccc {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
  }
}

/*H1-H6颜色*/

#content-inner.layout h1::before {
  color: #54c1f3 ;
  margin-left: -1.55rem;
  font-size: 1.3rem;
  margin-top: -0.23rem;
}
#content-inner.layout h2::before {
  color: #7da4d1 ;
  margin-left: -1.35rem;
  font-size: 1.1rem;
  margin-top: -0.12rem;
}
#content-inner.layout h3::before {
  color: #fae2b5 ;
  margin-left: -1.22rem;
  font-size: 0.95rem;
  margin-top: -0.09rem;
}
#content-inner.layout h4::before {
  color: #c797f3 ;
  margin-left: -1.05rem;
  font-size: 0.8rem;
  margin-top: -0.09rem;
}
#content-inner.layout h5::before {
  color: #ecee60 ;
  margin-left: -0.9rem;
  font-size: 0.7rem;
  margin-top: 0.0rem;
}
#content-inner.layout h6::before {
  color: #90faec ;
  margin-left: -0.9rem;
  font-size: 0.66rem;
  margin-top: 0.0rem;
}

/*分割线风车旋转*/

hr::before {
  -webkit-animation: ccc 3s linear infinite ;
  animation: ccc 3s linear infinite ;
  color: #868686;
}

/*图片下的说明文字居中*/

.jg-caption{
  text-align: center !important;
}

/*给每个图片下增加个小图标*/
.jg-caption-visible::before {
  content: "⊙ ";
} 
.fancybox-caption__body::before {
  content: "⊙ ";
} 
.img-alt.is-center::before {
  content: "⊙ ";
}

/*-------------格式合集-------------*/

/*图片下的说明文字居中*/

.jg-caption{
  text-align: center !important;
}

/*移动端优化：去除归档、标签、最新文章、公告、、只保留网站统计*/

@media screen and (max-width: 800px) {
  #aside_content div:not(:last-child) {
      display: none;
      font-size: 13px;
  }
}

/*评论页面的字号*/

#post-comment {
  font-size: 22px;
}

/*链接页面的格式*/

.flink {
  columns: 3;
}


.categoryBar-list {
  max-height: 400px;
}

.clock-row {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 特效合集 */


/* 插入视频 */
#index-video {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  #index-video {
      display: none;
  }
}

@media only screen and (min-width: 768px) {
  .bg-cover {
      background-image: none !important;
  }
}


/*3s为加载动画的时间，1为加载动画的次数，ease-in-out为动画效果*/

#page-header,
#web_bg {
  -webkit-animation: imgblur 2s 1 ease-in-out;
  animation: imgblur 2s 1 ease-in-out;
}

@keyframes imgblur {
  0% {
      filter: blur(5px);
  }
  100% {
      filter: blur(0px);
  }
}

/*适配使用-webkit内核的浏览器 */

@-webkit-keyframes imgblur {
  0% {
      -webkit-filter: blur(5px);
  }
  100% {
      -webkit-filter: blur(0px);
  }
}
.table-wrap img {
  margin: .6rem auto .1rem !important;
}

/* 标签外挂 网站卡片 start */

.site-card-group img {
  margin: 0 auto .1rem !important;
}

.site-card-group .info a img {
  margin-right: 10px !important;
}

[data-theme='dark'] .site-card-group .site-card .info .title {
  color: #f0f0f0 !important;
}

[data-theme='dark'] .site-card-group .site-card .info .desc {
  color: rgba(255, 255, 255, .7) !important;
}

.site-card-group .info .desc {
  margin-top: 4px !important;
}

/* Calendar */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.calendar-container{
  font-size:14px;
  background-color:#fff;
  font-family:"Open Sans",sans-serif
}
.calendar-messages-container{
  padding:10px 20px
}
.calendar-actions-container{
  padding:10px 20px
}
.calendar-message{
  min-height:30px
}
.calendar-message-content{
  padding:7px 13px;
  border-radius:15px;
  color:#595a5a;
  background-color:#ebebeb
}
.calendar-message-content.human{
  color:#f7f8f8;
  background-color:#919292
}
.calendar-message-content.text{
  line-height:1.3
}
.calendar-message-content.loading{
  background-color:rgba(206,206,206,.5);
  line-height:1.3;
  text-align:center
}
.calendar-message-content.embed{
  padding:5px;
  border-radius:5px
}
.calendar-message-content-link{
  color:#919292
}
.calendar-actions-text-input{
  border:0;
  outline:0;
  border-radius:0;
  padding:5px 7px;
  font-family:"Open Sans",sans-serif;
  background-color:transparent;
  color:#595a5a;
  border-bottom:1px solid #919292
}
.calendar-actions-text-submit{
  color:#fff;
  width:30px;
  padding:5px;
  height:30px;
  line-height:1;
  border-radius:50%;
  border:1px solid #919292;
  background:#777979
}
.calendar-actions-buttons-button{
  border:0;
  color:#fff;
  line-height:1;
  cursor:pointer;
  font-size:14px;
  font-weight:500;
  padding:7px 15px;
  border-radius:4px;
  font-family:"Open Sans",sans-serif;
  background:#777979;
  box-shadow:2px 3px 4px 0 rgba(0,0,0,.25)
}
.calendar-actions-text-select{
  border:0;
  outline:0;
  border-radius:0;
  padding:5px 7px;
  font-family:"Open Sans",sans-serif;
  background-color:transparent;
  color:#595a5a;
  border-bottom:1px solid #919292
}
.calendar-actions-text-searchselect{
  border:0;
  outline:0;
  border-radius:0;
  padding:5px 7px;
  font-family:"Open Sans",sans-serif;
  background-color:transparent;
  color:#595a5a;
  border-bottom:1px solid #919292
}
.calendar-actions-text-searchselect .dropdown-toggle{
  border:none!important
}
.calendar-actions-text-searchselect .selected-tag{
  background-color:transparent!important;
  border:0!important
}
.slide-fade-enter-active{
  transition:all .3s ease
}
.slide-fade-enter,.slide-fade-leave-to{
  opacity:0;
  transform:translateX(-10px)
}
.dot{
  width:.5rem;
  height:.5rem;
  border-radius:.5rem;
  display:inline-block;
  background-color:#919292
}
.dot:nth-last-child(1){
  margin-left:.3rem;
  animation:loading .6s .3s linear infinite
}
.dot:nth-last-child(2){
  margin-left:.3rem;
  animation:loading .6s .2s linear infinite
}
.dot:nth-last-child(3){
  animation:loading .6s .1s linear infinite
}
@keyframes loading{
  0%{transform:translate(0,0);
    background-color:#ababab
    }
  25%{transform:translate(0,-3px)
    }
  50%{transform:translate(0,0);
    background-color:#ababab
    }
  75%{transform:translate(0,3px)
    }
  100%{transform:translate(0,0)}
}

/*
 * calendar 0.3.9
 * A JS library to build the UI for your bot
 * https://calendar.org
 *
 * Copyright 2019, Moin Uddin
 * Released under the MIT license.
*/
a.calendar-message-content-link:focus {
  outline: thin dotted
}

a.calendar-message-content-link:focus:active, a.calendar-message-content-link:focus:hover {
  outline: 0
}

form.calendar-actions-text {
  margin: 0
}

button.calendar-actions-buttons-button, input.calendar-actions-text-input {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline
}

button.calendar-actions-buttons-button::-moz-focus-inner, input.calendar-actions-text-input::-moz-focus-inner {
  border: 0;
  padding: 0
}

button.calendar-actions-buttons-button {
  cursor: pointer;
  -webkit-appearance: button
}

.calendar-app-container {
  width: 100%;
  height: 100%;
  line-height: 1
}

.calendar-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden
}

.calendar-message {
  margin-top: 10px;
  margin-bottom:10px
  min-height: 20px
}

.calendar-message:after {
  display: block;
  content: "";
  clear: both
}

.calendar-message-content {
  width: auto;
  max-width: 85%;
  display: inline-block
}

.calendar-message-content.human {
  float: right
}

.calendar-message-content iframe {
  width: 100%
}

.calendar-message-content-image {
  margin: 2px 0;
  display: block;
  max-width: 200px;
  max-height: 200px
}

.calendar-message-content-link {
  text-decoration: underline
}

.profil {
  position: relative;
  border-radius: 50%
}

.profil.human {
  float: right;
  margin-left: 0
}

.profil.agent {
  float: left;
  margin-right: 0
}

.profil>img {
  width: 26px;
  height: 26px;
  border: 1px solid #e8e8e8
}

.profil>img.agent {
  content: url(http://decodemoji.com/img/logos/blue_moji_hat.svg);
  border-radius:50%
}
button.calendar-actions-buttons-button{
  margin-top:10px;
  margin-bottom:10px
}
button.calendar-actions-buttons-button:not(:last-child){
  margin-right:10px
}
@media (min-width:400px){
  .calendar-actions-text-submit{
    display:none
  }
}

.calendar.calendar-container::-webkit-scrollbar {
  width: 0 !important;
}
/* 按钮动效 */
.facemain { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
.facemain *,
.facemain *:after,
.facemain *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.facemain{
  height: 250px;
  width:300px;
  margin: 0 auto;
  border-radius: 10px;
  vertical-align:middle;
  display:table-cell;
	background: #494A5F;
	color: #D5D6E2;
	font-weight: 500;
	font-size: 1.05em;
	font-family: "Microsoft YaHei","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif;
}
.facemain a{ color: rgba(255, 255, 255, 0.6);outline: none;text-decoration: none;-webkit-transition: 0.2s;transition: 0.2s;}
.facemain a:hover,a:focus{color:#74777b;text-decoration: none;}

.facemain figure {
  width: 200px;
  height: 60px;
  margin: 50px auto;
  cursor: pointer;
  perspective: 500px;
  -webkit-perspective: 500px;
}

.facemain figure div {
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}

.facemain figure:hover div {
  transform: rotateX(-90deg);
}

.facemain span.face {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  border: 5px solid #fff;
  font-family: 'Source Sans Pro',sans-serif;
  line-height: 50px;
  font-size: 17pt;
  text-align: center;
  text-transform: uppercase;
}

.facemain span.face:nth-child(1) {
  color: #fff;
  transform: translate3d(0, 0, 30px);
  -webkit-transform: translate3d(0, 0, 30px);
}

.facemain span.face:nth-child(2) {
  color: #094b2c;
  background: #fff;
  transform: rotateX(90deg) translate3d(0, 0, 30px);
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
}


.li-style:hover{
  color: #49b1f5;
}

ul,li{
  list-style:none;
  display:block;
  margin: 0;
  padding: 0;
}
